body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
  font-family: 'Noto Serif SC', serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-weight: 800;
}

h2, h3 {
  text-align: left;
  font-weight: 500;
  padding: 40px;
}

p {
  text-align: left;
}

a {
  padding-left: 10px;
  padding-right: 10px;
}

.left {
  align: left;
}
